<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>name</key>
    <string>Hard Words</string>
    <key>words</key>
    <array>
        <string>abbey</string>
        <string>abruptly</string>
        <string>affix</string>
        <string>askew</string>
        <string>axiom</string>
        <string>azure</string>
        <string>bagpipes</string>
        <string>bandwagon</string>
        <string>banjo</string>
        <string>bayou</string>
        <string>bikini</string>
        <string>blitz</string>
        <string>bookworm</string>
        <string>boxcar</string>
        <string>boxful</string>
        <string>buckaroo</string>
        <string>buffalo</string>
        <string>buffoon</string>
        <string>cobweb</string>
        <string>croquet</string>
        <string>daiquiri</string>
        <string>disavow</string>
        <string>duplex</string>
        <string>dwarves</string>
        <string>equip</string>
        <string>exodus</string>
        <string>fishhook</string>
        <string>fixable</string>
        <string>foxglove</string>
        <string>galaxy</string>
        <string>galvanize</string>
        <string>gazebo</string>
        <string>gizmo</string>
        <string>glowworm</string>
        <string>guffaw</string>
        <string>haiku</string>
        <string>haphazard</string>
        <string>hyphen</string>
        <string>icebox</string>
        <string>injury</string>
        <string>ivory</string>
        <string>ivy</string>
        <string>jaundice</string>
        <string>jawbreaker</string>
        <string>jaywalk</string>
        <string>jazzy</string>
        <string>jigsaw</string>
        <string>jiujitsu</string>
        <string>jockey</string>
        <string>jovial</string>
        <string>joyful</string>
        <string>juicy</string>
        <string>jumbo</string>
        <string>kazoo</string>
        <string>keyhole</string>
        <string>khaki</string>
        <string>kilobyte</string>
        <string>kiosk</string>
        <string>kiwifruit</string>
        <string>knapsack</string>
        <string>larynx</string>
        <string>luxury</string>
        <string>marquis</string>
        <string>megahertz</string>
        <string>microwave</string>
        <string>mystify</string>
        <string>nightclub</string>
        <string>nowadays</string>
        <string>numbskull</string>
        <string>ovary</string>
        <string>oxidize</string>
        <string>oxygen</string>
        <string>pajama</string>
        <string>peekaboo</string>
        <string>pixel</string>
        <string>pizazz</string>
        <string>pneumonia</string>
        <string>polka</string>
        <string>quartz</string>
        <string>quiz</string>
        <string>quorum</string>
        <string>razzmatazz</string>
        <string>rhubarb</string>
        <string>rickshaw</string>
        <string>schizophrenia</string>
        <string>sphinx</string>
        <string>spritz</string>
        <string>squawk</string>
        <string>subway</string>
        <string>swivel</string>
        <string>topaz</string>
        <string>unknown</string>
        <string>unworthy</string>
        <string>unzip</string>
        <string>uptown</string>
        <string>vaporize</string>
        <string>vixen</string>
        <string>vodka</string>
        <string>vortex</string>
        <string>walkway</string>
        <string>waltz</string>
        <string>wavy</string>
        <string>waxy</string>
        <string>wheezy</string>
        <string>whiskey</string>
        <string>whomever</string>
        <string>wimpy</string>
        <string>wizard</string>
        <string>woozy</string>
        <string>xylophone</string>
        <string>yachtsman</string>
        <string>yippee</string>
        <string>youthful</string>
        <string>zephyr</string>
        <string>zigzag</string>
        <string>zilch</string>
        <string>zodiac</string>
        <string>zombie</string>
    </array>
</dict>
</plist>
