<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,44}}</string>
                <key>sourceSize</key>
                <string>{122,44}</string>
            </dict>
            <key>enemy_croc_walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{86,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{86,50}}</string>
                <key>sourceSize</key>
                <string>{88,58}</string>
            </dict>
            <key>enemy_croc_walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{86,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{86,50}}</string>
                <key>sourceSize</key>
                <string>{88,58}</string>
            </dict>
            <key>enemy_croc_walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{86,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{86,50}}</string>
                <key>sourceSize</key>
                <string>{88,58}</string>
            </dict>
            <key>enemy_croc_walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{86,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{86,50}}</string>
                <key>sourceSize</key>
                <string>{88,58}</string>
            </dict>
            <key>enemy_hedgehog_walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,293},{74,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{74,47}}</string>
                <key>sourceSize</key>
                <string>{78,51}</string>
            </dict>
            <key>enemy_hedgehog_walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,274},{74,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{74,47}}</string>
                <key>sourceSize</key>
                <string>{78,51}</string>
            </dict>
            <key>enemy_hedgehog_walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,269},{74,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{74,47}}</string>
                <key>sourceSize</key>
                <string>{78,51}</string>
            </dict>
            <key>enemy_hedgehog_walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,274},{74,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{74,47}}</string>
                <key>sourceSize</key>
                <string>{78,51}</string>
            </dict>
            <key>enemy_snake_crawl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,169},{75,53}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{75,53}}</string>
                <key>sourceSize</key>
                <string>{87,61}</string>
            </dict>
            <key>enemy_snake_crawl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,2},{79,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{79,53}}</string>
                <key>sourceSize</key>
                <string>{87,61}</string>
            </dict>
            <key>enemy_snake_crawl3.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{83,53}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{83,53}}</string>
                <key>sourceSize</key>
                <string>{87,61}</string>
            </dict>
            <key>enemy_snake_crawl4.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,2},{79,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{79,53}}</string>
                <key>sourceSize</key>
                <string>{87,61}</string>
            </dict>
            <key>monkey_arms_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,112},{56,78}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{56,78}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>monkey_dead.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,224},{48,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{48,74}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>monkey_ghost_arms_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{56,78}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{56,78}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>monkey_ghost_dead.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,219},{48,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{48,74}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>monkey_ghost_jump1.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,226},{46,78}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{46,78}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>monkey_ghost_jump2.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,169},{48,78}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{48,78}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>monkey_ghost_jump3.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,170},{48,78}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{48,78}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>monkey_ghost_jump4.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,217},{50,74}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{50,74}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>monkey_ghost_run1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{54,76}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{54,76}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>monkey_ghost_run2.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,274},{54,76}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{54,76}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>monkey_ghost_run3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{54,78}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{54,78}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>monkey_ghost_run4.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,112},{56,78}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{56,78}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>monkey_ghost_run5.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,208},{56,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{56,76}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>monkey_ghost_run6.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,54},{56,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{56,78}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>monkey_ghost_run7.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,170},{54,78}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{54,78}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>monkey_ghost_run8.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,113},{54,78}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{54,78}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>monkey_jump1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,220},{46,78}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{46,78}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>monkey_jump2.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,137},{48,78}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{48,78}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>monkey_jump3.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,57},{48,78}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{48,78}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>monkey_jump4.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,54},{50,74}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{50,74}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>monkey_run1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,268},{54,76}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{54,76}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>monkey_run2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{54,76}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{54,76}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>monkey_run3.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,113},{54,78}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{54,78}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>monkey_run4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{56,78}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{56,78}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>monkey_run5.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,130},{56,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{56,76}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>monkey_run6.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,54},{56,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{56,78}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>monkey_run7.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,57},{54,78}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{54,78}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>monkey_run8.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,57},{54,78}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{54,78}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_assets.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efa4601a9432391070f1d632c9495e21$</string>
            <key>textureFileName</key>
            <string>game_assets.png</string>
        </dict>
    </dict>
</plist>
