<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,88}}</string>
                <key>sourceSize</key>
                <string>{244,88}</string>
            </dict>
            <key>enemy_croc_walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{168,98}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{168,98}}</string>
                <key>sourceSize</key>
                <string>{176,116}</string>
            </dict>
            <key>enemy_croc_walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{170,98}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{170,98}}</string>
                <key>sourceSize</key>
                <string>{176,116}</string>
            </dict>
            <key>enemy_croc_walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{168,98}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{168,98}}</string>
                <key>sourceSize</key>
                <string>{176,116}</string>
            </dict>
            <key>enemy_croc_walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{168,98}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{168,98}}</string>
                <key>sourceSize</key>
                <string>{176,116}</string>
            </dict>
            <key>enemy_hedgehog_walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,506},{148,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{148,94}}</string>
                <key>sourceSize</key>
                <string>{156,102}</string>
            </dict>
            <key>enemy_hedgehog_walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,426},{148,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{148,94}}</string>
                <key>sourceSize</key>
                <string>{156,102}</string>
            </dict>
            <key>enemy_hedgehog_walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,410},{148,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{148,94}}</string>
                <key>sourceSize</key>
                <string>{156,102}</string>
            </dict>
            <key>enemy_hedgehog_walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,426},{148,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{148,94}}</string>
                <key>sourceSize</key>
                <string>{156,102}</string>
            </dict>
            <key>enemy_snake_crawl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,312},{146,106}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{146,106}}</string>
                <key>sourceSize</key>
                <string>{174,122}</string>
            </dict>
            <key>enemy_snake_crawl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{158,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{158,106}}</string>
                <key>sourceSize</key>
                <string>{174,122}</string>
            </dict>
            <key>enemy_snake_crawl3.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{164,106}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{164,106}}</string>
                <key>sourceSize</key>
                <string>{174,122}</string>
            </dict>
            <key>enemy_snake_crawl4.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{158,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{158,106}}</string>
                <key>sourceSize</key>
                <string>{174,122}</string>
            </dict>
            <key>monkey_arms_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,522},{100,148}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,12},{100,148}}</string>
                <key>sourceSize</key>
                <string>{140,168}</string>
            </dict>
            <key>monkey_dead.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,522},{96,146}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{96,146}}</string>
                <key>sourceSize</key>
                <string>{140,168}</string>
            </dict>
            <key>monkey_ghost_arms_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,102},{100,148}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{100,148}}</string>
                <key>sourceSize</key>
                <string>{140,168}</string>
            </dict>
            <key>monkey_ghost_dead.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,460},{96,146}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{96,146}}</string>
                <key>sourceSize</key>
                <string>{140,168}</string>
            </dict>
            <key>monkey_ghost_jump1.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,204},{92,154}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,5},{92,154}}</string>
                <key>sourceSize</key>
                <string>{140,168}</string>
            </dict>
            <key>monkey_ghost_jump2.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,110},{94,154}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,5},{94,154}}</string>
                <key>sourceSize</key>
                <string>{140,168}</string>
            </dict>
            <key>monkey_ghost_jump3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{96,154}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,5},{96,154}}</string>
                <key>sourceSize</key>
                <string>{140,168}</string>
            </dict>
            <key>monkey_ghost_jump4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{98,148}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,6},{98,148}}</string>
                <key>sourceSize</key>
                <string>{140,168}</string>
            </dict>
            <key>monkey_ghost_run1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,416},{106,152}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,7},{106,152}}</string>
                <key>sourceSize</key>
                <string>{140,168}</string>
            </dict>
            <key>monkey_ghost_run2.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,414},{106,152}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{106,152}}</string>
                <key>sourceSize</key>
                <string>{140,168}</string>
            </dict>
            <key>monkey_ghost_run3.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,102},{106,154}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{106,154}}</string>
                <key>sourceSize</key>
                <string>{140,168}</string>
            </dict>
            <key>monkey_ghost_run4.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,252},{110,152}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{110,152}}</string>
                <key>sourceSize</key>
                <string>{140,168}</string>
            </dict>
            <key>monkey_ghost_run5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{110,150}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{110,150}}</string>
                <key>sourceSize</key>
                <string>{140,168}</string>
            </dict>
            <key>monkey_ghost_run6.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,298},{110,152}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,7},{110,152}}</string>
                <key>sourceSize</key>
                <string>{140,168}</string>
            </dict>
            <key>monkey_ghost_run7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{106,154}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{106,154}}</string>
                <key>sourceSize</key>
                <string>{140,168}</string>
            </dict>
            <key>monkey_ghost_run8.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,318},{106,152}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,7},{106,152}}</string>
                <key>sourceSize</key>
                <string>{140,168}</string>
            </dict>
            <key>monkey_jump1.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,110},{92,154}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,5},{92,154}}</string>
                <key>sourceSize</key>
                <string>{140,168}</string>
            </dict>
            <key>monkey_jump2.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,210},{94,154}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,5},{94,154}}</string>
                <key>sourceSize</key>
                <string>{140,168}</string>
            </dict>
            <key>monkey_jump3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,210},{96,154}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,5},{96,154}}</string>
                <key>sourceSize</key>
                <string>{140,168}</string>
            </dict>
            <key>monkey_jump4.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,524},{98,148}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,6},{98,148}}</string>
                <key>sourceSize</key>
                <string>{140,168}</string>
            </dict>
            <key>monkey_run1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{106,152}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,7},{106,152}}</string>
                <key>sourceSize</key>
                <string>{140,168}</string>
            </dict>
            <key>monkey_run2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,308},{106,152}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{106,152}}</string>
                <key>sourceSize</key>
                <string>{140,168}</string>
            </dict>
            <key>monkey_run3.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,102},{106,154}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{106,154}}</string>
                <key>sourceSize</key>
                <string>{140,168}</string>
            </dict>
            <key>monkey_run4.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,206},{110,152}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,7},{110,152}}</string>
                <key>sourceSize</key>
                <string>{140,168}</string>
            </dict>
            <key>monkey_run5.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,406},{110,150}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{110,150}}</string>
                <key>sourceSize</key>
                <string>{140,168}</string>
            </dict>
            <key>monkey_run6.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,158},{110,152}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{110,152}}</string>
                <key>sourceSize</key>
                <string>{140,168}</string>
            </dict>
            <key>monkey_run7.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{106,154}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{106,154}}</string>
                <key>sourceSize</key>
                <string>{140,168}</string>
            </dict>
            <key>monkey_run8.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,306},{106,152}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,7},{106,152}}</string>
                <key>sourceSize</key>
                <string>{140,168}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_assets-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed9cc02d3b50ba871d2a4c8c4fff13a9$</string>
            <key>textureFileName</key>
            <string>game_assets-hd.png</string>
        </dict>
    </dict>
</plist>
